/*
* INPUT PARAMETERS
*
* It is necessary to define the various input f
* iles as script parameters
*/
params {
    
    projectName = "JeBiF-a-JOBIM"

    genome      = "${baseDir}/data/reference/genome.fa" 
    reads       = "${baseDir}/data/reads/SRR*_{1,2}.fastq.gz" 
    gtf         = "${baseDir}/data/reference/genes.gtf"
    results     = "results"
}

/*
* Working directory
*/
env {
    WDir = "$baseDir"
}

/*
* Allows you to give each process the conda environment associated with it.
* 
* The conda environment contains the software to be used by the process.
* 
* It is possible to use several different conda environments.
*/
profiles {

    workDir = "$env.WDir/hackathon2024/$params.projectName"

    conda {
        conda.enabled = true
    
        process {
            withLabel: star {
                conda = "$baseDir/conda/star.yml"
            }

            withLabel: samtools {
                conda = "$baseDir/conda/samtools.yml"
            }

            withLabel: featurecounts {
                conda = "$baseDir/conda/featurecounts.yml"
            }

            withLabel: qualimap {
                conda = "$baseDir/conda/qualimap.yml"
            }
        }
    }
}



