work
.nextflow*
.snakemake
results
hackathon2024/
.DS_Store
testing/
testing*
*.pyc
Aligned.sortedByCoord.out.bam
workflow/cli/data
workflow/cli/genome_dir
Log.final.out
Log.out
Log.progress.out
results
SJ.out.tab
_STARtmp
