params {
    
    projectName = "JeBiF-JOBIM"

    genome     = "${baseDir}/data/genome.fa" 
    reads      = "${baseDir}/data/reads/ENCSR000COQ1_{1,2}.fastq.gz" 
    results    = "results"

}

env {
    WDir = "$baseDir"
}


profiles {

    workDir = "$env.WDir/JeBiF-Nextflow/$params.projectName"

    conda {
        conda.enabled = true
        channels = ['conda-forge', 'bioconda', 'defaults']
    
        process {
            withLabel: catadapt {
			    conda = "$baseDir/conda/cutadapt.yaml"
			}

            withLabel: samtool {
                conda = "$baseDir/conda/samtool.yaml"
            }
        }
    }
}



